@-webkit-keyframes lsdmode {
    0% {
        -webkit-filter: hue-rotate(0);
    }
    100%{
        -webkit-filter: hue-rotate(360deg);
    }
}

html{
    -webkit-animation: lsdmode 2s linear infinite;
    -webkit-filter: hue-rotate(0);
}